body {
     border: 0px;
     margin: 0px;
     padding: 0px;
     background-image: url(https://p2.trrsf.com/image/fget/cf/1200/1200/middle/images.terra.com/2016/01/14/signos-do-zodiaco-doutissima-shutterstock.jpg);
     background-size: 1400px 750px;
     background-repeat: no-repeat;
}

h1 {
     text-align: center;
     font-size: 5pc;
    /* color:   #8fb2d0;*/
     /*color: #d0ad8f;*/
}

.frrase {
     font-size: 40px;
     font-family: cursive;
}

.immg {
     text-align: center;
     align-items: center;
     border-radius: 100px;
     margin: 30px;
}


.ss {
     color: red;
}

.iiii {
     color: blue;
}

.gg {
     color: yellow;
}

.nn {
     color: red;
}

.oo {
     color: blue;
}

.geral {
     text-align: center;
}

.ii {
     font-size: 1pc;
     text-align: center;
}

.btn {
     border-radius: 20px;
     font-size: 1pc;
}


footer {
     text-align: center;
     font-size: 20px;
     margin: 12px;
}